
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container-box {
    background-color: #DEE7D3;
    box-sizing: border-box;
    height: 230px;
    margin: 0;
    text-align: center;
}

.to-do-heading {
    color: #698473;
    font-family: 'roboto slab', sans-serif;
    font-size: 275%;
    margin-bottom: 20px;
    padding-top: 20px;
}

.second-word {
    color: #B7B7B7;
}

.input-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input-format {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    height: 30px;
    margin-bottom: 10px;
    max-width: 540px;
    padding: 5px;
    width: 45%;
}

.input-format::placeholder {
    color: #939598;
}

.save-btn {
    background-color: #698473;
    border: none;
    color: #fff;
    font-size: 19px;
    height: 30px;
    max-width: 540px;
    width: 45%;
}

.save-btn:hover {
    background-color: #045e55;
}

.card-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search-input {
    margin-top: 20px;
}

.card-prepend{
    max-width: 540px;
    width: 45%;
}

.card-container {
    border-bottom: 1px solid #D1D3D4;
    margin-top: 20px;
}


.card-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.title-of-card{
    color: #6D6E71;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    margin-bottom: 10px;
}

.delete-button {
    background-image: url(./images/delete.svg);
    background-size: cover;
    height: 25px;
    width: 25px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
}

.card-container-complete {
    background: #FBF9EC;
    color: darkgrey;
    border: 3px solid #FBF9EC;
}


.body-of-card   {
    color: #939598;
    font-size: 100%;
    word-break: break-all;
}

.importance {
    color: #939598;
    font-size: 16px;
}

.idea-body {
    align-items: center;
    display: flex;
    position: relative;
}

.upvote,
.downvote {
    background-size: cover;
    height: 25px;
    margin: 15px 10px 15px 0;
    width: 25px;
}
.upvote {
    background-image: url(./images/upvote.svg);
}

.upvote:hover {
    background-image: url(./images/upvote-hover.svg);
}

.downvote {
    background-image: url(./images/downvote.svg);
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
}

.complete-btn {
    background-color: #DEE7D3;
    border-radius: 10%; 
    position: absolute;
    right: 10px;
}

@media(max-width: 840px){
.input-format,
.save-btn,
.card-prepend {
    width: 90%;
}

.importance {
    font-size: 12px;
}
}

