
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
}

.container-box {
    background-color: #e5f3f2;
    box-sizing: border-box;
    height: 230px;
    margin: 0;
    text-align: center;
}

h1 {
    color: #6d6e71;
    font-size: 275%;
    margin-bottom: 20px;
    padding-top: 20px;
    font-family: 'roboto slab', sans-serif;
}

.second-word {
    color: #6D6E71;
}

.idea {
    color: #00a79d;
}

.input-section {

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.title-input {
    height: 30px;
    width: 45%;
    margin-bottom: 10px;
    max-width: 540px;
}

.body-input {
    height: 30px;
    width: 45%;
    margin-bottom: 10px;
    max-width: 540px;
}

.title-input::placeholder,
.body-input::placeholder {
    color: #939598;
}
button {
    background-color: transparent;
    border: none;
}

.save-btn {
    background-color: #00a79d;
    border: none;
    color: #fff;
    font-size: 120%;
    height: 30px;
    width: 45%;
    max-width: 540px;
}

.save-btn:hover {
    background-color: #045e55;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    height: 30px;
    margin: 20px 0 10px 0;
    width: 45%;
    max-width: 540px;
}

.card-prepend{
    width: 45%
}

.card-container {
    margin-top: 20px;
    border-bottom: 1px solid #D1D3D4;
}

.card-container-complete {
    background: grey;
    color: lightgrey;
}

.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-of-card{
    color: #6D6E71;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    margin-bottom: 10px;
}

.delete-button {
    background-image: url(./images/delete.svg);
    background-size: cover;
    height: 25px;
    width: 25px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
}


p {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
}

.body-of-card{
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    word-break: break-all;
}

.idea-body {
    display: flex;
    align-items: center;
}
.upvote {
    background-image: url(./images/upvote.svg);
    background-size: cover;
    height: 25px;
    margin: 15px 10px 15px 0;
    width: 25px;
}

.upvote:hover {
    background-image: url(./images/upvote-hover.svg);
}

.downvote {
    background-image: url(./images/downvote.svg);
    background-size: cover;
    height: 25px;
    margin: 15px 10px 15px 0;
    width: 25px;
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
}

.quality {
    display: inline-block;
}


@media(max-width: 750px){

    .card-container {
        width: 85%;
    }

    .search-input {
        border: solid #999 1px;
    }
}

